<html>
<body>
<h1> Your Bookmarks </h1>
<ul>
  <% @bookmark_list.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%= bookmark.title %></a></li>
  <% end %>
</ul>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add Bookmark"/>
</form>
</body>
</html>
